@import url(jquery.bxslider.css);
html {
    height: 100%
}
body {
    margin-bottom: 0;
    height: 100%
}
.height {
    height: 100%
}
@media (max-width: 767px) {
    .height {
        height: 100%;
    }
}
header {
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #dce0e0;
    height: 61px;
    z-index: 200000
}
header .height {
    height: 100%
}
header .padding-no {
    padding: 0
}
header .iphone-menu {
    margin-top: 10px
}
header .logo {
    width: 80px;
    height: 70px;
    margin: 0 auto;
}
@media (max-width: 767px) {
    header .logo {
        border-right: none
    }
}
header .logo img {
    margin: auto;
    display: block;
}
header .resp-search-div {
    width: 80%;
    margin: auto;
    background-color: #fff;
    position: relative;
    border: 1px solid #c4c4c4;
    color: #565a5c;
    text-align: center;
    margin-top: 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
header .resp-search-div i {
    font-size: 12px;
    line-height: 41px;
    display: inline-block
}
header .resp-search-div p {
    font-size: 14px;
    font-weight: 100;
    display: inline-block
}
header .search-box {
    float: left;
    height: 100%
}
header .search-box button {
    border: none;
    background: #fff;
    background-image: url(../img/search-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 24px;
    outline: 0;
    height: 100%;
    float: left;
    margin-left: 7px
}
header .search-box input {
    border: none;
    height: 100%;
    font-size: 14px;
    color: #565a5c;
    outline: 0;
    width: 300px
}
@media (max-width: 992px) {
    header .search-box input {
        width: 140px
    }
}
header .search-box input::-webkit-input-placeholder {
    color: #565a5c
}
header .search-box input:-moz-placeholder {
    color: #565a5c
}
header .search-box input::-moz-placeholder {
    color: #565a5c
}
header .search-box input:-ms-input-placeholder {
    color: #565a5c
}
header ul {
    height: 100%;
	background-color: #fff;
}
header ul li {
    float: left;
    height: 100%
}
header ul li:first-child a {
    border-left: none
}
header ul li a {
    font-size: 14px;
    color: #565a5c;
    font-weight: 400;
    font-style: normal;
    height: 61px;
    line-height: 61px;
    border-left: 1px solid #dce0e0;
    height: 100%;
    display: block
}
header ul li a:hover {
    font-size: 14px;
    color: #565a5c;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: #EFEFEF
}
header ul li a:focus {
    outline: 0;
    font-size: 14px;
    color: #565a5c;
    font-weight: 400;
    font-style: normal
}
header ul li a .btn {
    border: 2px solid #c4c4c4!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    padding: 4px 12px!important;
    outline: 0
}
header ul li a .btn:hover {
    font-size: 14px;
    color: #565a5c;
    font-weight: 400;
    font-style: normal;
    background: 0 0;
    text-decoration: none
}
section.form-page {
    padding-top: 61px;
    height: 100%;
	overflow: auto;
}
@media (max-width: 767px) {
    section.form-page .form-group {
        margin-bottom: 20px!important
    }
}
section.form-page .form-part {
    width: 60%;
    background-color: #fff;
    float: left;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%
}
section.form-page .form-part::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(63, 181, 74, 0.3);
	background-color: darkgrey;
}

section.form-page .form-part::-webkit-scrollbar
{
	width: 1em;
	background-color: darkgrey;
}

section.form-page .form-part::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(63, 181, 74, 0.3);
	background-color: #3fb54a;
}
@media (max-width: 767px) {
    section.form-page .form-part {
        height: auto
    }
}
section.form-page .form-part .more-filters-btn-resp {
    border-color: #3fb54a;
    border-bottom-color: #e00007;
    background-color: #3fb54a;
    color: #fff;
    bottom: 30px;
    width: 90%;
    width: 200px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000000
}
@media (max-width: 767px) {
    section.form-page .form-part {
        width: 100%;
        height: auto;
        position: relative
    }
}
section.form-page .form-part .form-part-header {
    padding-left: 20px;
    padding-right: 20px
}
@media (max-width: 767px) {
    section.form-page .form-part .form-part-header {
        display: none
    }
}
section.form-page .form-part .form-part-header.form-fixed-header {
    height: 100%;
    position: relative
}
section.form-page .form-part .form-part-header.form-fixed-header .form-fixed-footer {
    display: block
}
section.form-page .form-part .form-part-header.form-fixed-header form {
    padding-bottom: 80px
}
@media (max-width: 767px) {
    section.form-page .form-part .form-part-header.form-fixed-header {
        position: static
    }
}
section.form-page .form-part .form-part-header .form-fixed-footer {
    display: none;
    position: fixed;
    width: 60%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 20px
}
@media (max-width: 767px) {
    section.form-page .form-part .form-part-header .form-fixed-footer {
        width: 100%
    }
}
section.form-page .form-part .form-part-header .form-fixed-footer .btn {
    display: block;
    white-space: normal;
    float: right;
    margin-bottom: 0;
    margin-left: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    width: auto
}
@media (min-width: 992px) {
    section.form-page .form-part .form-part-header .form-fixed-footer .btn {
        width: 200px
    }
}
section.form-page .form-part .form-part-header .form-fixed-footer .btn.cancel {
    border-color: #c4c4c4;
    background: #fff;
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-fixed-footer .btn.apply-filter {
    border-color: #3fb54a;
    border-bottom-color: #3c763d;
    background-color: #3fb54a;
    color: #fff
}
section.form-page .form-part .form-part-header .filters-section {
    border-bottom: 1px solid #dce0e0
}
section.form-page .form-part .form-part-header .border-top {
    border-top: 1px solid #dce0e0
}
section.form-page .form-part .form-part-header .border-none {
    border: none
}
section.form-page .form-part .form-part-header .padding-row {
    padding-top: 15px;
    padding-bottom: 15px
}
section.form-page .form-part .form-part-header label {
    display: block;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #565a5c;
    text-align: left
}
section.form-page .form-part .form-part-header .options-row .checkbox-style {
    margin-top: 30px!important
}
section.form-page .form-part .form-part-header .options-row .checkbox-label span {
    line-height: 22px!important
}
section.form-page .form-part .form-part-header .neighborhoods-row .checkbox-style {
    margin: 10px 0!important
}
section.form-page .form-part .form-part-header .form-group {
    margin-bottom: 0
}
section.form-page .form-part .form-part-header .form-group input {
    width: 100%;
    padding: 8px 10px;
    height: 39px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-group input::-webkit-input-placeholder {
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-group input:-moz-placeholder {
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-group input::-moz-placeholder {
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-group input:-ms-input-placeholder {
    color: #565a5c
}
section.form-page .form-part .form-part-header .form-group select {
    width: 100%;
    height: 39px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;
    outline: 0;
    padding-left: 10px
}
section.form-page .form-part .form-part-header .form-group .checkbox-box {
    border: 1px solid #dce0e0;
    background-color: #edefed;
    position: relative;
    overflow: hidden;
    padding: 0 7px
}
section.form-page .form-part .form-part-header .form-group .checkbox-box .checkbox-style {
    right: 5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0
}
section.form-page .form-part .form-part-header .form-group .checkbox-box .checkbox-label {
    width: calc(100% - 18px);
    float: left;
    margin-bottom: 0;
    font-size: 14px
}
section.form-page .form-part .form-part-header .form-group .checkbox-box .checkbox-label i {
    margin-right: 4px
}
section.form-page .form-part .form-part-header .form-group .checkbox-style {
    width: 18px;
    height: 18px;
    position: relative;
    margin: 0;
    float: left;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff
}
section.form-page .form-part .form-part-header .form-group .checkbox-style input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
section.form-page .form-part .form-part-header .form-group .checkbox-style input[type=checkbox]:checked+label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
section.form-page .form-part .form-part-header .form-group .checkbox-style input[type=checkbox]:checked+label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 11px;
    height: 6px;
    border: solid #e00007;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
section.form-page .form-part .form-part-header .form-group .checkbox-style label {
    content: "";
    display: block!important;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #aaa
}
section.form-page .form-part .form-part-header .form-group .checkbox-style+label {
    margin-left: 5px;
    vertical-align: middle;
    color: #565a5c;
    font-weight: 400;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
section.form-page .form-part .form-part-header .form-group .chk-positioned-verticaly {
    height: 40px
}
section.form-page .form-part .form-part-header .form-group .chk-positioned-verticaly .checkbox-style {
    position: absolute;
    top: 3px;
    left: 0
}
section.form-page .form-part .form-part-header .form-group .chk-positioned-verticaly>label {
    top: 0;
    position: absolute;
    left: 25px;
    margin-bottom: 0
}
section.form-page .form-part .form-part-header .form-group .checkbox-label {
    width: calc(100% - 35px);
    font-style: normal;
    cursor: pointer;
    float: right
}
section.form-page .form-part .form-part-header .form-group .checkbox-label span {
    font-size: 14px;
    color: #565a5c;
    display: block
}
section.form-page .form-part .form-part-header .form-group .checkbox-label span i {
    color: #ffb400;
    margin-right: 5px
}
section.form-page .form-part .form-part-header .form-group .checkbox-label span i img {
    width: 13px
}
section.form-page .form-part .form-part-header .form-group .checkbox-label span.small {
    color: #82888a;
    font-size: .85em
}
section.form-page .form-part .form-part-header .form-group .checkbox-label a {
    color: #3fb54a;
    text-decoration: none;
    display: block;
    font-size: .85em;
    line-height: 22px
}
section.form-page .form-part .form-part-header .fa-caret-down {
    line-height: 38px;
    padding: 0 10px
}
section.form-page .form-part .form-part-header .open-checkbox-div {
    display: none
}
section.form-page .form-part .filter-toggle-div {
    display: none
}
@media (max-width: 767px) {
    section.form-page .form-part .filter-toggle-div {
        display: block
    }
}
section.form-page .form-part .form-part-cont {
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-right: 20px
}
section.form-page .form-part .form-part-cont .form-cont-fixed-header {
    background-color: #F5F5F5
}
section.form-page .form-part .form-part-cont .form-cont-fixed-header.fixed-header {
    padding-bottom: 20px;
    position: fixed;
    width: 60%;
    z-index: 3000000;
    top: 61px;
    left: 15px
}
section.form-page .form-part .form-part-cont .more-filters-row {
    padding: 15px 0
}
section.form-page .form-part .form-part-cont .more-filters-row span {
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: #82888a;
    line-height: 36px
}
section.form-page .form-part .form-part-cont .more-filters-row a {
    border: 1px solid #c4c4c4;
    background: #fff;
    color: #565a5c;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    float: left;
    display: block;
    width: 130px;
    height: 36px
}
section.form-page .form-part .form-part-cont .more-filters-row a:before {
    content: "More Filters"
}
section.form-page .form-part .form-part-cont .enter-p {
    color: #82888a;
    font-size: 14px;
    padding: 20px 0
}
section.form-page .form-part .form-part-cont .enter-p i {
    margin-right: 7px;
    font-size: 11px
}
section.form-page .form-part .form-part-cont .nearby-links {
    border-top: 1px solid #dce0e0;
    padding: 30px 0;
    margin-top: 30px
}
section.form-page .form-part .form-part-cont .nearby-links p {
    color: #565a5c;
    font-size: 14px
}
section.form-page .form-part .form-part-cont .nearby-links p a {
    color: #82888a
}
section.form-page .map-part {
    width: 40%;
    float: right;
    height: 100%;
    overflow: hidden
}
section.form-page .map-part .overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

section.form-page .map-part iframe {
    height: 100%;
    width: 100%;
}
.ui-datepicker {
    overflow: hidden;
    padding: 0;
    padding-top: 15px
}
.slide-box {
    position: relative;
    margin: 20px auto 20px!important
}
.slide-box .like-div {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 10
}
.slide-box .like-div i {
    position: absolute
}
.slide-box .like-div i.fa-heart-o {
    z-index: 10000;
    font-size: 30px;
    color: #fff
}
.slide-box .like-div i.fa-heart {
    z-index: 100;
    font-size: 25px;
    color: #0ff;
    top: 3px;
    left: 3px;
    color: rgba(0, 0, 0, .3)
}
.slide-box .descovery-price {
    position: absolute;
    z-index: 100000;
    bottom: 60px;
    left: 0;
    padding: 3px 10px;
    background-color: rgba(60, 63, 64, .9);
    color: #fff
}
.slide-box .descovery-price span {
    font-size: 24px;
    color: #fff;
    font-weight: 400
}
.slide-box .descovery-price span sup {
    margin-right: 5px;
    font-size: 14px;
    font-weight: 700
}
.slide-box .text-part {
    padding-top: 10px;
    font-size: 16px;
    position: relative
}
.slide-box .text-part a {
    color: #565a5c
}
.slide-box .text-part a.small {
    color: #82888a;
    font-size: 12px;
    float: left
}
.slide-box .text-part a.owner-img {
    position: absolute;
    top: -32px;
    right: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.slide-box .text-part a.owner-img img{
     width: 60px;
    height: 60px;
}
.slide-box .text-part i {
    font-size: 11px;
    float: left;
    color: #ffb400;
    margin: 3px 3px 0
}
.bx-wrapper {
    overflow: hidden!important;
    margin: 0 auto 0!important
}
.bx-controls a:before {
    font-size: 30px!important
}
.bx-viewport {
    border: none!important
}
.bx-viewport .bxslider li img {
    width: 100%!important
}